<!DOCTYPE html>
<html ng-app="ticketApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angularjs")
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
</head>
<body ng-controller="ticketController" ng-init="init()">
    <header class="header">
        <div class="nav-container">
            <div class="left-nav">
                <a href="/">
                    <img src="~/Content/Assets/LOGO.png" class="logo" />
                </a>
                <div class="site-divider">
                </div>
                <div class="learn-container">
                    <a href="/" class="learn">Learn</a>
                </div>
            </div>
            <div class="right-nav right position-relative">
                <div>
                    <a ng-if="isLoggedIn" ng-model="userFirstName" class="rounded-circle p-4 profile d-flex justify-content-center align-items-center border-1 border-dark" ng-click="toggleLogoutVisible()">
                        <div class="text-uppercase text-white text-center">
                            {{ userFirstName[0] }}
                        </div>
                    </a>
                    <div class="logout-menu" ng-show="logoutVisible">
                        <div>
                            <a ng-click="logout()" class="logout-button" href="/">Logout</a>
                        </div>
                    </div>
                </div>
                <div ng-if="!isLoggedIn">
                    <a class="link" href="/home/login">Sign in</a>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/core-app")
</body>
</html>
